
.hidden {
  display: none;
}
.container {
position:relative; 
width: 100vw; 
height:80vh; 

}

 button:hover {
  background-color: rgb(180, 160, 255);
  cursor: pointer;
}
 
#button1{ 
    position:absolute; 
    left:10vw; 
    top:10vw; 
}
#button2{ 
    position:absolute; 
    left:30vw; 
    top:20vw; 
}
#button3{ 
    position:absolute; 
    left:60vw; 
    top:10vw; 
}
#button4{ 
    position:absolute; 
    left:70vw; 
    top:40vw; 
}
#textArea5{ 
    position:absolute; 
    left:70vw; 
    top:45vw; 
    width:20vw; 
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    height: auto;
    display: flex; 
    flex-direction: column; 
    align-items: center;

  }
  #button1, #button2, #button3, #button4, #textArea5 {
    position: static;
    width: 100%;
    margin-top: 10px;
  }

  #button1{ 
    width:50%; 
    height:75px;
  } 
  #button2{ 
    width:50%; 
    height:75px;
  }

  #button3{ 
    width:50%; 
    height:130px;
  }
#button4{ 
    width:50%; 
    height:100px;
  }

  #textArea5{ 
    width:50%; 
    height:100px;
  }

}

